<% if @is_logged_in_user %>
<p>Hello, welcome to the app <%= @user.name %>. Below is your profile:</p>
<% end %>

This is the profile page of user: <%= @user.name %>
<br>
<br>

<div class="user_info">
  <p>User Information:</p><%= @user.about_me %>
  <br><br>
  <p>User Preferance:</p><%= @user.what_i_want %>
</div>

<% if @is_logged_in_user %>
  <%= link_to "Edit Profile", edit_user_path %>
<% end %>

<div class="request">
  <% if !@is_logged_in_user %>
    <%= button_to "Request Alien Meetup", meetup_request_path %>
  <% end %>
</div>