<h1>Alien Dating</h1>

<%= form_for @user, url: create_account_path, html: {method: 'post'} do |f| %>
  Name: <%= f.text_field :name %>
  <br/>
  <br/>
  I'm from:
  <%= f.select :from_planet, options_for_select(@planets) %>
  and I want to date a creature from:
  <%= f.select :wants_planet, options_for_select(@planets) %>
  <br>
  <br>
  <%= f.submit "Create" %>
  <%= button_tag "Reset", type: :reset %>
<% end %>

<br>
<br>