<!DOCTYPE html>
<html>
<head>
  <title>AlienDating</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body class="layout">
    <div class="container" style="">

      <div class="row" style="margin: 30px 0 0 0;">
        <div class="col-sm-4" style="padding: 10px;">
          <%= link_to logo, root_path %>
        </div>
        <div class="col-sm-5">
          <% if current_user %>
            <%= link_to "All Users", users_path %>
            | 
            <%= link_to 'Logout', '/logout', method: 'post' %>
          <% else %>
            <%= link_to 'Already have an account?', '/login' %>
          <% end %>
        </div>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
