<!DOCTYPE html>
<html>
<head>
  <title>AlienDating</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= link_to "Click here to see all users", users_path %>
</body>
</html>
